# -----------------------------------------------------------------------------
# APP CONFIGURATION
# -----------------------------------------------------------------------------

NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# CONNECTOR
# -----------------------------------------------------------------------------

# Nango
NEXT_PUBLIC_NANGO_PUBLIC_KEY=your_nango_public_key
NANGO_SECRET_KEY=your_nango_secret_key

# -----------------------------------------------------------------------------
# INGESTION
# -----------------------------------------------------------------------------

# Unstructured
UNSTRUCTURED_API_URL=your_unstructured_api_url
UNSTRUCTURED_API_KEY=your_unstructured_api_key

# -----------------------------------------------------------------------------
# DATABASE 
# -----------------------------------------------------------------------------

# Supabase
DATABASE_URL=postgresql://postgres:password@db.project.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# -----------------------------------------------------------------------------
# SERVERLESS DATABASE
# -----------------------------------------------------------------------------

# Upstash Redis
UPSTASH_REDIS_REST_URL=your_upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token

# Upstash QStash
QSTASH_URL=your_qstash_url
QSTASH_TOKEN=your_qstash_token
QSTASH_CURRENT_SIGNING_KEY=your_qstash_signing_key
QSTASH_NEXT_SIGNING_KEY=your_qstash_next_signing_key

# Upstash Vector
UPSTASH_VECTOR_REST_URL=your_upstash_vector_url
UPSTASH_VECTOR_REST_TOKEN=your_upstash_vector_token

# Upstash Search
UPSTASH_SEARCH_REST_URL=your_upstash_search_url
UPSTASH_SEARCH_REST_TOKEN=your_upstash_search_token

# Upstash Workflow
UPSTASH_WORKFLOW_URL=your_upstash_workflow_url

# -----------------------------------------------------------------------------
# AI PROVIDERS 
# -----------------------------------------------------------------------------

# Vercel AI Gateway
AI_GATEWAY_URL=your_ai_gateway_url
AI_GATEWAY_KEY=your_ai_gateway_key

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key
OR_SITE_URL=your_openrouter_site_url
OR_APP_NAME =your_openrouter_app_name

# OpenAI
OPENAI_API_KEY=your_openai_api_key

# Cohere
COHERE_API_KEY=your_cohere_api_key

# -----------------------------------------------------------------------------
# PAYMENTS
# -----------------------------------------------------------------------------

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...